<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="product[title]">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="product[price]">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="product[description]">
        </div>
        <button>Add Product</button>
    </form>
</body>
</html>